
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background: rgb(48, 46, 65);;
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 1rem;
    border: 1px solid #2a3761;
    outline: none;
    background-color: #202a49;
    color: rgb(235, 235, 235);
}

.calculator-grid > button:hover {
    background-color: #9163cc;
}

.output {
    grid-column: 1 / -1;
    background-color: #5b6585;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    font-size: 2rem;
    color: rgb(201, 201, 201);
}

.output .current-operand {
    font-size: 3rem;
    color: rgb(235, 235, 235);
}

#equal {
    background-color: rgb(43, 37, 94);
}

#equal:hover {
    background-color: rgb(153, 44, 153);
}

#delete {
    background-color: rgb(196, 69, 69);
}

#delete:hover {
    background-color: rgb(238, 26, 26);
}

#clear {
    background-color: rgb(194, 27, 27);
}

#clear:hover {
    background-color: rgb(255, 0, 0);
}

#plusbtn, #minusbtn, #multiplybtn, #dividebtn {
    background-color: #35457a;
}

#plusbtn:hover, #minusbtn:hover, #multiplybtn:hover, #dividebtn:hover {
    background-color: #9163cc;
}
