@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background: rgb(48, 46, 65);
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(150px, auto) repeat(5, 100px);
}


.calculator-grid>button {
    cursor: pointer;
    font-size: 1rem;
    border: 1px solid #2a3761;
    outline: none;
    background-color: #202a49;
    color: rgb(235, 235, 235);
}

@media (hover: hover) {
.calculator-grid>button:hover {
    background-color: #9163cc;
}
}

.output {
    grid-column: 1 / -1;
    background-color: #5b6585;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    font-size: 2rem;
    color: rgb(201, 201, 201);
}

.output .current-operand {
    font-size: 3rem;
    color: rgb(235, 235, 235);
}

#equal-button {
    background-color: rgb(43, 37, 94);
}

@media (hover: hover) {
#equal-button:hover {
    background-color: rgb(153, 44, 153);
}
}

#delete-button {
    background-color: rgb(196, 69, 69);
}

@media (hover: hover) {
#delete-button:hover {
    background-color: rgb(238, 26, 26);
}
}

#clear-button {
    background-color: rgb(194, 27, 27);
}

@media (hover: hover) {
#clear-button:hover {
    background-color: rgb(255, 0, 0);
}
}

#negative-button {
    background-color: #27335a;
}

#percent-button {
    background-color: #27335a;
}

#plus-button,
#minus-button,
#multiply-button,
#divide-button {
    background-color: #35457a;
}

@media (hover: hover) {
#plus-button:hover,
#minus-button:hover,
#multiply-button:hover,
#divide-button:hover,
#negative-button:hover,
#percent-button:hover {
    background-color: #9163cc;
}
}

.calculator-grid>button.pressed,
#equal-button.pressed,
#delete-button.pressed,
#clear-button.pressed,
#plus-button.pressed,
#minus-button.pressed,
#multiply-button.pressed,
#divide-button.pressed,
#negative-button.pressed,
#percent-button.pressed {
    background-color: rgb(192, 24, 192);
}

@media (max-width: 50em) {
    .calculator-grid {
        grid-template-columns: repeat(4, 90px);
        grid-template-rows: minmax(140px, auto) repeat(5, 90px);
    }
}