@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
}

table {
    width: 100vw;
    height: 70vh;
    background-color: #202a49;
    color: rgb(235, 235, 235);
}

td {
    width: 25%;
    background-color: #2a3761;
    text-align: center;
    font-size: 2rem;
}


td:hover {
    background-color: rgb(59, 77, 138);
    cursor: pointer;
}

#working-area {
    color: rgb(235, 235, 235);
    font-size: 5rem;
    display: block;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    height: 10vh;
    background-color: #3f4868;
    
}

#input-area {
    color: rgb(235, 235, 235);
    font-size: 5rem;
    display: block;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    height: 20vh;
    background-color: #5b6585;
    
}

.equal {
    background-color: rgb(43, 37, 94);
}

.equal:hover {
    background-color: rgb(153, 44, 153);
}

.delete {
    background-color: rgb(196, 69, 69);
}

.delete:hover {
    background-color: rgb(238, 26, 26);
}

.clear {
    background-color: rgb(194, 27, 27);
}

.clear:hover {
    background-color: rgb(255, 0, 0);
}


.highlight {
    background-color: #35457a;
}

.pressed {
    background-color: rgb(192, 24, 192);
}

